*
{	
	font-family: 'Josefin Slab', serif; 
}
footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 10px;
}

ul{
	list-style: none;
	padding: 0;
}

.change {
	padding: 0px;
	margin: 18px;
	text-align: center;
}
.par {
	padding: 20px;
}
.par {
	word-spacing: 3px;
}
.minimize {
	padding: 0px;
}
.h-slim {
	font-weight:0;
	margin: 0px;
}